{% extends 'base.html' %}

{% block body %}


<div style="margin: 3em;" class="ui main text container ">
    <h1 class="ui header">Latest ideas</h1>
    <div class="ui cards">
        {% for idea in ideas %}
        <div class="ui card">
            <div class="content">
              <div class="header">{{ idea.title|title }}</div>
              
              {% if idea.description %}
              <div class="description">{{ idea.description|truncatechars:100 }}</div>
              {% endif %}
            </div>
            <div class="extra content">
              <a class="created">Cool +1</a>
              <a href="{% url 'ideas:idea-detail' slug=idea.slug %}" class="right floated created">View details</a>
            </div>
          </div>
          {% endfor %}
    </div>
</div>

{% endblock %}