{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ doc.title|default:'Titleless' }} • Ideator</title>

    <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    {% block css %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script defer src="{% static 'semantic/semantic.js' %}"></script>
    {% block js %}{% endblock %}
</head>

<body>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a href="{% url 'landing' %}" class="{% if active == 'home' %}active {% endif %}item">Home</a>
        <a href="{% url 'ideas:list' %}" class="{% if active == 'ideas' %}active {% endif %}item">Ideas</a>
        <a class="{% if active == 'about' %}active {% endif %}item">About</a>
        <a class="{% if active == 'contact' %}active {% endif %}item">Contact</a>
        <a class="item">Submit your idea <i class="arrow right icon"></i></a>
    </div>
    <div class="pusher">
        {% block navbar %}
        <div class="ui inverted vertical center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="{% url 'landing' %}" class="{% if active == 'home' %}active {% endif %}item">Home</a>
                    <a href="{% url 'ideas:list' %}"
                        class="{% if active == 'ideas' %}active {% endif %}item">Ideas</a>
                    <a class="{% if active == 'about' %}active {% endif %}item">About</a>
                    <a class="{% if active == 'contact' %}active {% endif %}item">Contact</a>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided grid">
                    <div class="six wide column">
                        <h4 class="ui inverted header">Quick Links</h4>
                        <div class="ui inverted link list">
                            <a href="{% url 'landing' %}" class="item">Home</a>
                            <a href="{% url 'ideas:list' %}" class="item">Ideas</a>
                            <a href="#" class="item">About</a>
                            <a href="#" class="item">Submit your idea <i class="right arrow icon"></i></a>
                        </div>
                    </div>
                    <div class="six wide column">
                        <h4 class="ui inverted header">Ömer Selçuk</h4>
                        <p>This web application is done in my free time.</p>
                        <a href="https://t.me/divisia/"><i class="icon telegram"></i></a>
                        <a href="mailto:omrfyyz@gmail.com"><i class="icon mail"></i></a>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <img src="" class="ui centered mini image">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#0">Contact</a>
                    <a class="item" href="#0">Terms and Conditions</a>
                    <a class="item" href="#0">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document)
            .ready(function () {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    });

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');

            });
    </script>
</body>

</html>